{% extends 'base.html.twig' %}

{% block title %}Crossfight{% endblock %}

{% block body %}
    <section id="crossfight">
        <div class="sections-titles">
            <h2>CROSSFIGHT</h2>
        </div>

        <div class="crossfight_container row">
            <div class="crossfight_illustration col-lg-6"><img class="img-fluid" src="{{ asset('images/femme_voilee_crossfit.jpg') }}" alt=""></div>
            <div class="crossfight_history col-lg-6">
                <h3>Le meilleur des deux mondes</h3>
                <p>Directement inspiré du <a href="https://fr.wikipedia.org/wiki/CrossFit"><em>Crossfit</em></a>le <em>Crossfight</em>garde les avantages du Crossfit et en élimine les inconvénients !
                    Effectivement, le travail en circuit (sans temps de repos) et le mélange d'exercices de musculation avec du travail cardio-vasculaire fait du CrossFit une méthode extrêmement efficace pour améliorer sa condition physique.
                    Les qualités physiques que cette méthode permet de développer sont nombreuses : <strong>endurance, résistance, puissance, force, vitesse, équilibre, coordination, etc.</strong></p>
                <p>Sur ce plan, le CrossFit est donc une des disciplines les plus « complète » et polyvalente.</p>
                <p><em>Cependant,</em> beaucoup de mouvements pratiqués en CrossFit sont issus de la force athlétique et de l’haltérophilie. Ces deux disciplines nécessitent un temps d’apprentissage assez long avant d’être correctement
                    maitrisées.
                    En effet, des mouvements comme le "squat", "l’arraché" ou encore le "soulevé de terre" sont très techniques, et <u>peuvent être dangereux s’ils sont mal exécutés.</u>
                    L'objectif premier du CrossFight est d'allier les différents sports de combat avec le CrossFit tout en tenant compte de différents paramètres comme la nature de l'effort, son intensité, sa durée, mais aussi le temps et la
                    nature de la récupération et qui permettent un dosage cohérent de l’effort.</p>
                <p>Mais aussi et surtout en tenant compte des contraintes biomécaniques des différents mouvements que ce soit de force athlétique ou haltérophilie afin de
                    préserver l'intégrité physique des athlètes et éviter qu'ils se blessent.
                    Le CROSSFIGHT va donc être particulièrement attentif à l'exécution chaque exercice et de chaque mouvement, quitte à prendre un peu plus de temps.
                </p>
                <small><em><a href="https://eu.yokkao.com">Source: https://eu.yokkao.com</a></em></small>
            </div>
        </div>
    </section>
{% endblock %}
