{% extends 'base.html.twig' %}

{% block title %}Muay-Thaï{% endblock %}

{% block body %}
    <section id="muaythai">
        <div class="sections-titles">
            <h2>MUAY-THAÏ</h2>
        </div>

        <div class="muaythai_container row">
            <div class="muaythai_illustration col-lg-6"><img class="img-fluid" src="{{ asset('images/Muay-thai-fight.jpg') }}" alt="muay-thai fighter"></div>

            <div class="muaythai_history col-lg-6">
                <h3>Introduction</h3>

                <p>Le Muay Thai, qui se traduit par "boxe thaïlandaise", est le sport national de la Thaïlande. Il s'agit d'un art martial dont les racines proviennent d'une utilisation militaire remontant à environ le 13e siècle, à l'époque du
                    royaume de Sukhothai.
                    Le Muay Thai est connu comme "l'art des 8 membres" car il utilise 8 points de contact, à savoir les coups de poing, les coudes, les genoux et les coups de pied. Cela le différencie des autres sports de combat debout tels que la
                    boxe
                    (2 points - les poings) et le karaté (4 points - les poings et les pieds).

                <h3>Qu'est-ce que le Muay Thai ou la boxe thaïlandaise ?</h3>

                <p>Le Muay Thai est un sport de frappe debout, où deux compétiteurs sur le ring se lancent des coups de poing, de coude, de genou et de pied. Le clinchage, les balayages et les projections sont également autorisés.</p>

                <h3>Techniques du Muay Thai</h3>

                <p>Les techniques du Muay Thai peuvent être classées en trois catégories : <strong>attaque, défense et contre-attaque.</strong>
                    L'entraînement du Muay Thai commence par l'apprentissage de la position et des mouvements de base.
                    Les techniques d'attaque consistent en des coups de poing, des coups de coude, des coups de genou, des coups de pied, des coups de pied poussés et des accrochages. Les techniques de défense consistent à bloquer, à se pencher en
                    arrière, à dévier, à attraper les jambes et à esquiver. Ces techniques se mélangent et se combinent pour former des combinaisons (combo) qui peuvent être utilisées pour attaquer ou contrer.
                    Voici un aperçu des différentes techniques d'attaque et de leurs variations :
                </p>

                <h3>Quels sont les avantages du Muay Thai ?</h3>

                <p>Voici un aperçu des dix avantages du Muay Thai :</p>

                <h4>Brûleur de calories</h4>

                Il s'agit de brûler les calories supplémentaires et l'entraînement du Muay Thai le fait de manière exceptionnellement efficace. Chaque séance de Muay Thai dure environ 1 à 2 heures et se compose d'un échauffement, de shadow boxing, de
                techniques de clinch, de travail sur sac lourd, de padwork, avant de terminer par des exercices de musculation. Une séance de 2 heures peut brûler 1000 calories, ce qui en fait un moyen idéal et amusant de perdre du poids.

                <h4>Autodéfense</h4>

                Le Muay Thai comprend à la fois des techniques d'attaque et de défense. En tant qu'art de combat issu de la guerre militaire, le Muay Thai a été conçu pour infliger de la douleur à l'ennemi tout en protégeant l'utilisateur des
                dommages physiques. Sa gamme d'armes, comme le coup de coude, le coup de genou et le coup de pied poussé, peut être utilisée pour désarmer une attaque. Il s'agit d'une excellente technique d'autodéfense, ce qui en fait un sport idéal
                pour tous, en particulier pour les enfants et les femmes.

                <h4>Solidité mentale</h4>

                <p>L'entraînement du Muay Thai aide à développer la force mentale en défiant les limites physiques et mentales, car il faut de la persévérance. Le Muay Thai renforce donc non seulement le corps, mais aussi l'esprit. Quand les
                    choses se corsent, les durs se corsent. Être mentalement fort permet à une personne de réussir face à l'incertitude et à l'adversité.
                </p>

                <h4>Confiance en soi</h4>

                <p>L'entraînement au Muay Thai permet de s'affiner et d'être en meilleure forme. Et lorsqu'une personne se sent bien dans sa peau, elle dégage une plus grande confiance en elle. En même temps, si une personne fait l'effort de
                    s'entraîner régulièrement au Muay Thai, elle s'améliorera et le fait de voir cette amélioration au fil du temps a un effet direct sur la croissance de la confiance en soi.
                </p>

                <h4>Booste les endorphines</h4>

                <p>Les endorphines sont un groupe de substances chimiques sécrétées dans le cerveau et le système nerveux. La libération d'endorphines dans le corps est connue pour favoriser un sentiment de confort et de bien-être qui peut aider à
                    gérer le stress. Le rush d'endorphines fait référence à cet état que l'on ressent après une séance d'entraînement, ce qui est presque garanti avec chaque séance d'entraînement de Muay Thai.
                </p>

                <h4>Renforce le corps</h4>

                <p>L'entraînement du Muay Thai est difficile. Chaque séance dure de 1 à 2 heures et comprend plusieurs rounds de boxe, de travail sur sac lourd, de padwork, de musculation et d'exercices de conditionnement. Un entraînement
                    traditionnel pour les combattants comprendra même une course de 3 à 5 km en guise d'échauffement. Un corps endolori aujourd'hui est un corps fort demain. Il est clair qu'un entraînement régulier au Muay Thai améliore la condition
                    physique générale et renforce le corps.
                </p>

                <h4>Fun</h4>

                <p>Pour tous les amateurs de fitness qui en ont assez de courir sur le tapis roulant ou de soulever les mêmes vieux poids, le Muay Thai est l'antidote. En plus de l'apprentissage de différentes techniques et combos, les entraînements
                    modernes de Muay Thai incorporent une variété d'exercices qui rendent l'entraînement amusant et efficace à la fois. Lorsque l'activité est intéressante, il y a plus de motivation et d'incitation à s'entraîner.
                </p>

                <h4>Réduit la pression artérielle</h4>

                <p>Les maladies cardiovasculaires sont la première cause de décès dans le monde. La première étape pour réduire le risque de développer des maladies cardiaques est d'apporter des changements positifs en pratiquant régulièrement des
                    exercices cardiovasculaires. En tant que sport cardio-vasculaire, un entraînement régulier en Muay Thai peut réduire la pression artérielle et renforcer le cœur. Être en bonne santé n'est pas une mode ou une tendance, c'est un
                    mode de
                    vie et le Muay Thai peut vous y aider.
                    <small><em><a href="https://eu.yokkao.com">Source: https://eu.yokkao.com</a></em></small>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
