{% extends 'base.html.twig' %}

{% block title %}Taekwondo{% endblock %}

{% block body %}
    <section id="taekwondo">
        <div class="sections-titles">
            <h2>TAEKWONDO</h2>
        </div>
        <div class="taekwondo_container row">
            <div class="taekwondo_illustration col-lg-6"><img class="img-fluid" src="{{ asset('images/femme_kimono_kick_taekwondo.jpg') }}" alt="taekwondo ko"></div>

            <div class="taekwondo_history col-lg-6">
                    <h3>Qu'est-ce que le Taekwondo ?</h3>
                    <p>
                        Le Taekwondo est un système d'exercices ou de techniques corporelles symétriques conçus pour l'autodéfense et la contre-attaque en combat non armé.
                        en utilisant les mains et les pieds comme armes et moyens de défense. Cependant, le Taekwondo n'est pas seulement une compétence physique, c'est aussi un mode de pensée et de vie.
                        Grâce à une discipline stricte, le Taekwondo entraîne à la fois le corps et l'esprit en mettant l'accent sur le développement du caractère moral.
                        En d'autres termes, le contrôle de l'esprit, l'autodiscipline, la gentillesse et l'humilité doivent accompagner la grâce physique.
                        <br>
                        L'entraînement au Taekwondo consiste à endurcir le corps par la pratique des différentes formes d'attaque et de défense.
                        Les techniques sont principalement des coups de pied, des coups de poing et des blocages de style dur.
                        Mais incluent également l'utilisation de mouvements circulaires de la main, de techniques de projection et de chute.
                        Pour faire face à l'attaque d'un adversaire est la maîtrise de la respiration et le développement du jiptjung
                        (rassemblement de la puissance) pour unifier la force.
                    </p>

                    <h4>Pourquoi choisir le Taekwondo ?</h4>

                    <p>Chacun a sa propre raison de s'entraîner au Taekwondo. Les gens s'entraînent pour des raisons physiques telles que : l'exercice et le conditionnement, la force, l'autodéfense, le sport, etc.
                        Mais aussi pour renforcer leurs qualités personnelles comme l'autodiscipline et l'estime de soi.
                        D'autres avantages mentaux incluent le calme intérieur et la concentration.
                    </p>

                    <h3>Avantages du Taekwondo</h3>

                    <h4>La forme physique et mentale</h4>
                    <p>
                        L'étude du Taekwondo offre plusieurs avantages uniques pour la forme physique.
                        L'entraînement peut être effectué dans presque n'importe quel environnement sans l'utilisation de poids ou d'équipement spécial ; il peut être pratiqué individuellement ou en groupe.
                        Étant donné que le corps fixe ses propres limites, les blessures ou les tensions sont rares et la condition physique de l'élève s'adapte
                        automatiquement. L'ensemble du système musculaire du corps, des doigts aux orteils, sont mis à contribution.
                        Les mouvements à haute répétition et à faible résistance du Taekwondo développent une musculature plus longue, plus mince et plus souple. De tels muscles
                        ont plus de zones proches des voies d'approvisionnement en sang, produisant ainsi une endurance et un bien-être maximum.
                        <br>
                        Les autres caractéristiques sont les suivantes :<br>
                        Force musculaire, flexibilité, énergie accrue, vision périphérique, concentration et capacité à éviter les distractions.
                        On peut voir que l'étude du Taekwondo est recommandée pour les hommes, les femmes et les enfants. Elle peut apporter des avantages en matière de
                        développement du corps et du mental. Le but de cet art martial est l'amélioration du bien-être mental et physique. Ces atouts concourent à un objectif commun: l'harmonie.
                    </p>
                    <small><em>Source: <a href="https://www.uvm.edu">https://www.uvm.edu</a></em></small>
                </div>
            </div>
    </section>
{% endblock %}
